@import url("https://fonts.googleapis.com/css2?family=Abel&family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:ital,wght@0,500;0,900;1,400&family=Rubik+Mono+One&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik Mono One", sans-serif;
  overflow-x: hidden;
}

.container {
  /* width: 1240px; */

}

.container .hero-section {
  width: 1440px;
  margin: 0 auto;
  background: url("./images/Portfolio\ 14.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 1440px;
  background-position: center center;
 
}

.container .header .nav-bar {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.container .header .nav-bar .logomain img {
  width: 40px;
}
.container header .nav-bar ul li {
  display: inline-block;
  font-size: 16px;

}

.container header .nav-bar ul li a {
  color: white;
  text-decoration: none;
}
.hero {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}
.hero .intro {
  width: 300px;
  /* background-color: black; */
}

.hero .intro h1 {
  font-size: 82px;
  font-weight: 400;
  line-height: 6rem;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding-top: 100px;
  /* padding-left: 70px; */
  padding-bottom: 2rem;
  margin: 0;
  width: 300px;
}

.hero .intro .btn {
  background-color: black;
  padding: 15px 25px;
  border-radius: 5px 10px 5px 10px;
  display: inline-block;
  animation: btn 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.4s;
}

@keyframes btn {
  0% {
    transform: rotate(-20deg);
  }

  25% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.hero .intro .btn a {
  color: white;
  /* background-color: black; */
  /* width: 100px; */
  /* padding: 10px 20px; */
  text-decoration: none;
}

.hero .logo-container {
  /* padding-top: 50px; */
  /* padding-right: 130px; */
  transition: all 0.5s ease;
  animation: logo 1s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.hero .logo-container img {
  width: 500px;
}

@keyframes logo {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

section{
  background-color: #D7B341;

}

section .wrapper{
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;

}



@media (min-width: 1441px){
  .container {
    width: 1920px;
    height: 100vh;
    background: url("./images/Portfolio\ 14.svg");
    background-repeat: no-repeat;
    background-size: 1920px;
    background-position: center center;
  }
}